/* default css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html, body {
  width: 100%;
  height: 100%;

  background-color: #0a9396;
}

/* todo css */
.container {
  width: 100%;
  height: 100%;
  padding-top: 5rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.todo {
  width: 80%;
  max-width: 30rem;
  min-width: 20rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
}

/* todo head */

.todo__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  
  align-self: flex-start;
  color: #ffffff;
}

.todo__header {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  column-gap: 1rem;
}

.todo__input {
  width: 100%;
  padding: 0.75rem;

  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;

  border: none;
  outline: none;
  border-radius: 0.25rem;
}

.todo__add  {
  padding: 0.75rem 1.25rem;

  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;

  border: none;
  outline: none;
  border-radius: 0.25rem;

  background-color: #ffffff;
  cursor: pointer;
}

/* todo body */

.todo__content {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
}

.todo__list {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  list-style: none;
  gap: 0.5rem;
}

.todo__task {
  width: 100%;
  padding: 1.25rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  border-radius: 0.25rem;

  background-color: #ffffff;
  gap: 1rem;
}

.todo__text {
  flex: 1;
  
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;

  text-decoration: none;
  border: none;
  outline: none;
}

.todo__text:focus {
  box-shadow: inset 0 -0.15rem 0 0 #0a9396;
}

.todo__task--active .todo__text {
  text-decoration: line-through;
}

.todo__check {
  width: 1.5rem;
  height: 1.5rem;

  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: solid 0.125rem #000000;
  border-radius: 0.25rem;
  cursor: pointer;
}

.todo__check i {
  display: none;
  pointer-events: none;
  user-select: none;
}

.todo__task--active .todo__check {
  border: none;
}

.todo__task--active .todo__check i {
  display: block;
}

.todo__btns {
  display: flex;
  flex-direction: row;
  
  gap: 0.5rem;
}

.todo__btn {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;

  border: none;
  outline: none;
  
  background-color: transparent;
  
  cursor: pointer;
  user-select: none;
}